.badge {
  display: inline-block;
  padding: 0.3rem 1.2rem;
  background-color: rgba(143, 72, 235, 0.15);
  color: var(--color-roxo);
  border: 1px solid var(--color-roxo);
  border-radius: 0.25rem;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
