.footer {
  padding: 1.25rem 0.625rem;
  text-align: center;
  background-color: var(--background-footer);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-size: 0.93rem;
    text-decoration: none;
    margin: 0.31rem;
  }

  em {
    color: var(--color-rose);
    font-style: italic;
  }

  .copyright {
    margin-top: 0.31rem;
    color: var(--text);
    line-height: 1.5;
  }
}
