.divisor {
  width: 100%;
  height: 0.18rem;
  background: linear-gradient(
    90deg,
    var(--color-amarelo) 0%,
    var(--color-rosa) 30.21%,
    var(--color-roxo) 66.67%,
    var(--color-azul) 100%
  );
  overflow: hidden;
}
